<nav class="navbar navbar-dark bg-dark" style="padding-top: 6px; padding-bottom: 6px;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="font-size: 22px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <img src="../../assets/logo8.jpg" alt="cloudimg" style="height: 40px; width: 40px; border-radius: 50%; margin-right: 8px;"> 
        dot.Cloud
      </span>
      <div class="d-flex ms-auto align-items-center">
        <a class="nav-link text-light me-5" href="/" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">Home</a>
        <a class="nav-link text-light me-5" href="aboutus" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">About Us</a>
        <a class="nav-link text-light me-5" href="features" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">Features</a>
        <a class="nav-link text-light me-5" href="contactus" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">Contact Us</a>
        <button class="btn btn-outline-light me-3" type="button" (click)="user()" style="font-family:'Times New Roman', Times, serif;">Login</button>
        <button class="btn btn-outline-light" type="button" (click)="admin()"  style="font-family:'Times New Roman', Times, serif;">Admin</button>
      </div>
    </div>
</nav>
  
  <div class="hero">
    <div class="hero-text">
      <h1>Revolutionize Business with our Scalable Solution</h1>
      <p>"Our cloud services provide a robust framework designed to enhance your business operations with unmatched security, scalability, and reliability."</p>
      <button type="button" (click)="GetStarted()">Get Started</button>
    </div>
  </div>

  <div class="mid">
    <h2>The One stop Solution</h2>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/server2.png" alt="couldn't display" style="width: 35px; height:35px; margin-bottom:10px;">
          <h5 class="card-title">Server Cloud Backup</h5>
          <p class="card-text">With years of experience in cloud solutions, we tailor our Server Cloud Backup services to meet your specific business needs. Contact us to learn more about how our Server Cloud Backup solutions can safeguard your valuable data and ensure business continuity and store data in remote.

          </p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/high.jpg" alt="couldn't display" style="width: 35px; height:35px; margin-bottom:10px;">
          <h5 class="card-title">Onsight High Performance</h5>
          <p class="card-text">At Onsight High Performance, we leverage cutting-edge cloud technology to elevate your capabilities and streamline your operations. Whether you're a business aiming for efficiency or an individual striving for peak performance, our cloud solutions empower you to achieve more.</p>
         
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img src="../../assets/data8.png" alt="couldn't display" style="width: 30px; height:35px; margin-bottom:10px;">
            <h5 class="card-title">Data Accessibility</h5>
            <p class="card-text">In today's digital age, ensuring seamless access to data is crucial for businesses to thrive and individuals to stay connected. Cloud technology revolutionizes data accessibility by offering secure, reliable, and scalable solutions that empower to access information anytime, anywhere.</p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img src="../../assets/secure5.png" alt="couldn't display" style="width: 35px; height:35px; margin-bottom:10px;">
            <h5 class="card-title">Security</h5>
            <p class="card-text">Security is a top priority in today's digital landscape, and cloud computing offers advanced solutions to safeguard data, and infrastructure from evolving cyber threats, we prioritize security to ensure our clients' data remains protected and compliant with industry standards.</p>
          
          </div>
        </div>
      </div>
  </div>

 <div class="foot">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">dot.Cloud <i>BUILD ON INDUSTRY-LEADING PRACTICES </i> we empower businesses with advanced cloud computing solutions tailored to meet modern demands. Our platform stands at the forefront of innovation, providing scalable, secure, and reliable infrastructure to support your digital transformation journey. With end-to-end encryption, multi-factor authentication, and continuous monitoring, your sensitive information remains safe from threats, giving you peace of mind to focus on your core business activities.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="https://azure.microsoft.com/en-us/what-is-iaas/">IaaS (Infrastructure as a Service)</a></li>
            <li><a href="https://azure.microsoft.com/en-us/overview/what-is-paas/">PaaS (Platform as a Service)</a></li>
            <li><a href="https://www.salesforce.com/products/platform/">SaaS (Software as a Service)</a></li>
            <li><a href="https://aws.amazon.com/s3/">STaaS (Storage as a Service)</a></li>
            <li><a href="https://aws.amazon.com/rds/">DBaaS (Database as a Service)</a></li>
            <li><a href="https://www.cisco.com/c/en/us/solutions/enterprise-networks/secure-internet-gateway/index.html">SECaaS (Security as a Service)</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="aboutus">About Us</a></li>
            <li><a href="contactus">Contact Us</a></li>
            <li><a href="features">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">dot.Cloud</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <!-- <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul> -->
        </div>
      </div>
    </div>
</footer>
</div>