<nav class="navbar navbar-dark bg-dark" style="padding-top: 6px; padding-bottom: 6px;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="font-size: 22px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <img src="../../assets/logo8.jpg" alt="cloudimg" style="height: 40px; width: 40px; border-radius: 50%; margin-right: 8px;"> 
        dot.Cloud
      </span>
      <div class="d-flex ms-auto align-items-center">
        <a class="nav-link text-light me-5" href="/" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">Home</a>
        <a class="nav-link text-light me-5" href="aboutus" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">About Us</a>
        <a class="nav-link text-light me-5" href="features" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">Features</a>
        <a class="nav-link text-light me-5" href="contactus" style="margin-top: 3px; font-family:'Times New Roman', Times, serif;">Contact Us</a>
        <!-- <button class="btn btn-outline-light me-3" type="button" (click)="user()" style="font-family:'Times New Roman', Times, serif;">Login</button> -->
        <!-- <button class="btn btn-outline-light" type="button" (click)="admin()"  style="font-family:'Times New Roman', Times, serif;">Admin</button> -->
      </div>
    </div>
</nav>

<div class="hero">
    <div class="hero-text">
      <div class="about-content">
        <h2>About Us</h2>
        <p>"Our cloud services provide a robust framework designed to enhance your business operations with unmatched security, scalability, and reliability."</p>
        <p>"With our cutting-edge cloud infrastructure, you can seamlessly scale your resources to meet the demands of your growing business, ensuring high availability and performance. Our solutions are tailored to support a wide range of applications, providing the flexibility you need to innovate and stay competitive in the market."</p>
        <p>"Our team of experts is dedicated to delivering top-notch support and services, ensuring that your transition to the cloud is smooth and hassle-free. We prioritize your business needs and work closely with you to implement a cloud strategy that aligns with your goals, helping you achieve operational excellence and drive growth."</p>
      </div>
    </div>
  </div>
